= render 'admin/navbar'
#page-wrapper.gray-bg
  = render 'admin/topbar'
  = render :partial => 'header', :locals => { :mode => 'edit'}
  .row
    .wrapper.wrapper-content.animated.fadeInRight
      = link_to admin_admins_path, :class => 'btn btn-sm btn-info pull-right m-b' do
        %i.fa.fa-long-arrow-left
        Back
      .ibox.float-e-margins
        .ibox-title
          %h5 Edit Admin User
        .ibox-content
          = render :partial => 'form'